@model OnlineBanking.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>

<body style="padding-left: 50px;padding-top:50px">

    <div>

        <h1>ABCD Bank</h1>

        <div style="padding-top:10px">

            <table class="table table-bordered" width="400">

                <thead>

                    <p style="font-weight:bold;width:auto;">

                        NetBanking Login

                    </p>

                </thead>

                <tbody>

                    <tr>

                        <td>

                            <label>UserName</label>

                        </td>

                        <td>

                            <input type="text" />

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <label>Password</label>

                        </td>

                        <td>

                            <input type="password" />

                        </td>

                    </tr>

                    <tr>

                        <td></td>

                        <td>

                            <button style="width:100px">Login</button>

                        </td>

                    </tr>

                </tbody>

            </table>

            <br />

            <table>

                <tr>

                    <td>

                        <label>New User?</label>

                    </td>

                    <td>

                        <button>Register Here</button>

                    </td>

                </tr>

            </table>

            <br />

        </div>

    </div>

</body>

</html>
